.add-product-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 60px;
}

.add-product-container h2 {
  text-align: center;
}

.add-product-container form {
  display: flex;
  flex-direction: column;
}

.add-product-container form div {
  margin-bottom: 15px;
}

.add-product-container form label {
  margin-bottom: 5px;
}

.add-product-container form input[type="text"],
.add-product-container form input[type="number"],
.add-product-container form input[type="file"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.add-product-container form button {
  padding: 10px;
  background-color: #b287d7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-product-container form button:disabled {
  background-color: #aaa;
}
