.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.webTitle {
  display: flex;
  align-items: center;
}

.siteTitle {
  font-style: italic;
  padding-left: 10%;
  text-decoration: wavy;
}

.url a {
  margin: 5px;
  color: #000;
  font-size: 17px;
}

.url a:hover {
  color: #c486e5;
}
