.addButton {
  width: 120px;
  height: 40px;
  font-weight: bold;
  border-color: rgb(225, 213, 236);
  border-radius: 9px;
  border-width: 2px;
  font-size: 13px;
  margin-top: 20px;
}

.addButton:hover {
  border-color: rgb(161, 230, 222);
}
