* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*background-color: rgb(138, 213, 213); */
  font-family: Georgia, serif;
  text-align: center;
  color: black;
}

.App {
  justify-content: center;
  align-items: center;
  font-style: italic;
  text-decoration: wavy;
 /* background-color: brown; */
}


